body{
    background-color: #7fff00;
}
h1{
    color: black;
    font-size: 70px;
    font-family: fantasy;
    text-decoration: underline;
    text-align: center;
}
li{
    color: #ff0000;
    font-size: 25px;
    font-family: monospace;
}
button{
    background-color: #008000;
    width: 30%;
    height: 60px;
    color: #ffffff;
    font-size: 25px;
}